modules = ["nodejs-20"]

[agent]
integrations = ["javascript_openai==1.0.0", "javascript_websocket==1.0.0", "javascript_object_storage==1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Start App"
mode = "sequential"
author = 43337567

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
